@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  animation: riseUp 1s ease-in-out;
  font-family: 'Poppins', sans-serif;
  
  font-weight: 700; /* Bold font */
  background: linear-gradient(90deg, #1e3a8a, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.rise-up {
  position: relative;
  overflow: hidden;
}
